@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.movie-card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: $spacer-xxl;
  grid-row-gap: $spacer-xl;

  @include tablet-size {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: $spacer-xl-phone;
    grid-row-gap: $spacer-l-phone;
  }

  @include phone-size {
    grid-template-columns: repeat(2, 1fr);
  }
}
