@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.hero {
  position: relative;
  height: 750px;
  color: $white;
  border-bottom: 1rem solid $gray-2;
}

.hero-background {
  position: absolute;
  top: 0;
  z-index: -1;

  .hero-img-wrapper {
    height: 750px;

    .hero-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .hero-gradient {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgb(0, 0, 0, 0.4);
      background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 40%,
        rgba(0, 0, 0, 0) 75%,
        rgba(0, 0, 0, 0.8) 100%
      );
      backdrop-filter: blur(3.5px);
    }
  }
}
