.btn {
  border: none;
  font-family: "Roboto", sans-serif;
  color: $white;
  padding: $spacer-xs $spacer-m;
  border-radius: $spacer-xxs;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $base-2;
  cursor: pointer;

  @include phone-size {
    font-size: $base-1;
  }

  &-primary {
    color: $white;
    background-color: $pink-1;
  }

  &-outline-primary {
    color: $pink-1;
    border: 1px solid $pink-1;
    background-color: transparent;
  }

  &-secondary {
    color: $pink-1;
    background-color: rgb(98, 98, 98, 0.4);
  }
}
